<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer th:fragment="fragment-footer">
  <br>
  <div class="jumbotron text-center" style="margin-top:0">
    <p>Created by SeungBeomKim</p>
    <p>🏛 명지대학교 정보통신공학과</p>
    <a href="https://daily1313.tistory.com/" target="_blank" style="text-decoration:none; color: black">🔗Personal Blog</a><br>
    <a href="https://github.com/daily1313" target="_blank" style="text-decoration:none; color: black">🔗 Github</a>

  </div>
</footer>
</html>